<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="INFO3420_12ConnectionString" connectionString="Data Source=aa1;Initial Catalog=INFO3420_12;Persist Security Info=True;User ID=INFO3420;Password=Fall2011!"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.web>
		<roleManager enabled="true" />
  <authentication mode="Forms" />
  <compilation debug="true" targetFramework="4.0"/>
    <pages theme="recipease" styleSheetTheme="recipease"/>
    <siteMap enabled="true">
      <providers>
        <clear/>
        <add siteMapFile="Web.sitemap" name="AspNetXmlSiteMapProvider"
            type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>   
	</system.web>
</configuration>
