{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>{% block title %}Recipease{% endblock %}</title>
		{% block extra_head %}{% endblock %}
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/layout.css" />
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/format.css" />
	</head>

	<body>
		<div id="container" style="background-image: url('{{ MEDIA_URL }}images/recipease_bg.gif');">
			<div id="homelink">
				<a href=""></a>
			</div>

			<div id="masthead">
				<div class="moveright">
					<p>
					{% if user.is_authenticated %}
					<h3>
						<p>welcome back, {{ user }}.  &nbsp;[<a href="{% url auth_password_change %}">change password</a> / <a href="{% url auth_logout %}">log out</a>]</p>
					</h3>
					{% else %}
					<p>Welcome! Please <a href="{% url auth_login %}">log in</a></p>
					<p>not a member yet? <a href="{% url registration.views.register %}">Sign up.</a></p>
					{% endif %}
					</p>
				</div>
			</div>
			<!-- MAIN CONTENT -->
			<div id="maincontent">
				<!-- NAV -->
				<div id="navigation">
					<div class="fixedScroll">
						<div id="navigation">
							<div class="fixedScroll">
								<input class="navButton" id="Button1" onclick="location.href='recipes/recipe.html'" value="Recipes" type="submit" name="Button1"> <br /><br />
								<input class="navButton" id="Button2" onclick="location.href='pantry.html'" value="Pantry" type="submit" name="Button2"> <br /><br />
								<input class="navButton" id="Button3" onclick="location.href='meal.html'" value="Meals" type="submit" name="Button3"> <br /><br />
								<input class="navButton" id="Button4" onclick="location.href='shopping.html'" value="Shopping" type="submit" name="Button4"> <br /><br />
							</div>
						</div>
					</div>
				</div>
				<!-- MAIN CONTENT EDITABLE REGION GOES HERE -->
				<!-- LEFT COLUMN MAIN CONTENT -->
				<div id="leftcolumn">
					<div class="largepad">
						{% block content %}{% endblock %}
					</div>
				</div>
				<!-- RIGHT COLUMN MAIN CONTENT -->
				{% block content_right %}{% endblock %}
				<!-- END MAIN CONTENT -->
				<div class="clearfloat"></div>
			</div> 
			<!-- FOOTER -->
			<ul id="footer">
				<br>
				<p><span class="disclaimer">This site is for educational purposes only.</span></p>
				<p><span>&copy; 2011 Stephen Shaw, Quinn Heiner, Nathan Liddle</span></p>
			</ul>
			<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form.js"></script>
			<script type="text/javascript" src="{{ MEDIA_URL }}js/global.js"></script>
			</div>
		</div>

	</body>
</html>
