{% load i18n %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset=UTF-8">
		<title>{% block title %}Recipease{% endblock %}</title>
		{% block extra_head %}{% endblock %}
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/layout.css" />
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/format.css" />
		<script src="{{ MEDIA_URL }}js/jquery.form.js"></script>
		<script src="{{ MEDIA_URL }}js/global.js"></script>
	</head>

	<body>
		<div id="container" style="background-image: url('{{ MEDIA_URL }}images/recipease_bg.gif');">
			<div id="homelink">
				<a href=""></a>
			</div>

			<header>
				<div class="moveright">
					<p>
					{% if user.is_authenticated %}
					<h3>
						<a href="{% url settings %}">My Account</a>
						 <a href="{% url auth_logout %}">log out</a>
					</h3>
					{% else %}
					<p><a href="{% url auth_login %}">log in</a>
					<a href="{% url registration.views.register %}"> / Sign up</a></p>
					{% endif %}
					</p>
				</div>
			</header>
			<!-- MAIN CONTENT -->
			<div id="maincontent">
				<!-- NAV -->
				<div id="navigation">
					<div class="fixedScroll">
						<div id="navigation">
							<div class="fixedScroll">
								<input class="navButton" id="Button1" onclick="location.href='recipes/recipe.html'" value="Recipes" type="submit" name="Button1"> <br /><br />
								<input class="navButton" id="Button2" onclick="location.href='pantry.html'" value="Pantry" type="submit" name="Button2"> <br /><br />
								<input class="navButton" id="Button3" onclick="location.href='meal.html'" value="Meals" type="submit" name="Button3"> <br /><br />
								<input class="navButton" id="Button4" onclick="location.href='shopping.html'" value="Shopping" type="submit" name="Button4"> <br /><br />
							</div>
						</div>
					</div>
				</div>
				<!-- MAIN CONTENT EDITABLE REGION GOES HERE -->
				<!-- LEFT COLUMN MAIN CONTENT -->
				<div id="leftcolumn">
					<div class="largepad">
						{% block content %}{% endblock %}
					</div>
				</div>
				<!-- RIGHT COLUMN MAIN CONTENT -->
				{% block content_right %}{% endblock %}
				<!-- END MAIN CONTENT -->
				<div class="clearfloat"></div>
			</div> 
			<!-- FOOTER -->
			<footer>
				<br>
				<p><span class="disclaimer">This site is for educational purposes only.</span></p>
				<p><span>&copy; 2011 Stephen Shaw, Quinn Heiner, Nathan Liddle</span></p>
			</footer>
		</div>

	</body>
</html>
