{% extends "base.html" %}
{% load i18n %}
{% block content %}
<!-- MAIN CONTENT EDITABLE REGION GOES HERE -->
		<div id="onecolumn">
			<h1>Enter Recipe</h1>
			<!-- RECIPE NAME & INFO -->
			<input style="width: 320px; height: 29px;" id="MainContent_RecipeName" class="textBoxMedium" value="Recipe Name" maxLength=50 type="text" name="ctl00$MainContent$RecipeName">&nbsp; 
			<!-- to make text disappear: onfocus="if(this.value==this.defaultValue) this.value='';" -->
			<input style="width: 71px; height: 25px;" id="MainContent_TextBox18"  class="textBoxSmall" value="Prep Time" type="text" name="ctl00$MainContent$TextBox18">&nbsp; 
			<input style="width: 71px; height: 25px;" id="MainContent_TextBox19" class="textBoxSmall" value="Cook Time" type="text" name="ctl00$MainContent$TextBox19">&nbsp; 
			<input style="width: 71px; height: 25px;" id="MainContent_TextBox22" class="textBoxSmall" value="Cook Temp" type="text" name="ctl00$MainContent$TextBox22">&nbsp; 
			<input style="width: 71px; height: 25px;" id="MainContent_TextBox20" class="textBoxSmall" value="Total Time" type="text" name="ctl00$MainContent$TextBox20">&nbsp; 
			<input style="width: 71px; height: 25px;" id="MainContent_TextBox21" class="textBoxSmall" value="Serving Size" type="text" name="ctl00$MainContent$TextBox21">&nbsp;<br /><br />
			<input style="width: 660px; height: 55px;" id="MainContent_TextBox23" class="textBoxMedium" value="Recipe Description" type="text" name="ctl00$MainContent$TextBox23">&nbsp; 
			<input style="width: 71px; height: 25px;" id="MainContent_TextBox24" class="textBoxSmall" value="Rating (1-5)" type="text" name="ctl00$MainContent$TextBox24"><br /><br />
			<!-- ROW 1 -->
			<input style="width: 102px; height: 27px;" id="MainContent_TextBox0" class="textBoxMedium" value="Amount" type="text" name="ctl00$MainContent$TextBox0">&nbsp; 
			<input style="width: 220px; height: 27px;" id="MainContent_TextBox1" class="textBoxMedium" value="Ingredient" type="text" name="ctl00$MainContent$TextBox1">&nbsp;&nbsp; 
			<input id="MainContent_ImageButton1 title="Scan Item" src="Images/barcode_icon_2.jpg" type="image" name="ctl00$MainContent$ImageButton1">&nbsp; 
			<input style="width: 102px; height: 27px;" id="MainContent_TextBox2" class="textBoxMedium" value="Amount" type="text" name="ctl00$MainContent$TextBox2">&nbsp; 
			<input style="width: 220px; height: 27px;" id="MainContent_TextBox3" class="textBoxMedium" value="Ingredient" type="text" name="ctl00$MainContent$TextBox3">&nbsp;&nbsp; 
			<input id="MainContent_ImageButton2 title="Scan Item" src="Images/barcode_icon_2.jpg" type="image" name="ctl00$MainContent$ImageButton2">&nbsp;<br />
			<!-- ROW 2 -->
			<input style="width: 102px; height: 27px;" id="MainContent_TextBox4" class="textBoxMedium" value="Amount" type="text" name="ctl00$MainContent$TextBox4">&nbsp; 
			<input style="width: 220px; height: 27px;" id="MainContent_TextBox5" class="textBoxMedium" value="Ingredient" type="text" name="ctl00$MainContent$TextBox5">&nbsp;&nbsp; 
			<input id="MainContent_ImageButton3 title="Scan Item" src="Images/barcode_icon_2.jpg" type="image" name="ctl00$MainContent$ImageButton3">&nbsp; 
			<input style="width: 102px; height: 27px;" id="MainContent_TextBox6" class="textBoxMedium" value="Amount" type="text" name="ctl00$MainContent$TextBox6">&nbsp; 
			<input style="width: 220px; height: 27px;" id="MainContent_TextBox7" class="textBoxMedium" value="Ingredient" type="text" name="ctl00$MainContent$TextBox7">&nbsp;&nbsp; 
			<input id="MainContent_ImageButton4 title="Scan Item" src="Images/barcode_icon_2.jpg" type="image" name="ctl00$MainContent$ImageButton4">&nbsp;<br />
			<!-- ROW 3 -->
			<input style="width: 102px; height: 27px;" id="MainContent_TextBox8" class="textBoxMedium" value="Amount" type="text" name="ctl00$MainContent$TextBox8">&nbsp; 
			<input style="width: 220px; height: 27px;" id="MainContent_TextBox9" class="textBoxMedium" value="Ingredient" type="text" name="ctl00$MainContent$TextBox9">&nbsp;&nbsp; 
			<input id="MainContent_ImageButton5 title="Scan Item" src="Images/barcode_icon_2.jpg" type="image" name="ctl00$MainContent$ImageButton5">&nbsp; 
			<input style="width: 102px; height: 27px;" id="MainContent_TextBox10" class="textBoxMedium" value="Amount" type="text" name="ctl00$MainContent$TextBox10">&nbsp; 
			<input style="width: 220px; height: 27px;" id="MainContent_TextBox11" class="textBoxMedium" value="Ingredient" type="text" name="ctl00$MainContent$TextBox11">&nbsp;&nbsp; 
			<input id="MainContent_ImageButton6 title="Scan Item" src="Images/barcode_icon_2.jpg" type="image" name="ctl00$MainContent$ImageButton6">&nbsp;<br />
			<a id="MainContent_HyperLink21" class="addMore" href="recipe.html">[ + ] add more ingredients</a><br /><br />
			<!-- DIRECTIONS -->
			<input style="width: 690px; height: 70px;" id="MainContent_TextBox16" class="textBoxMedium" value="Directions" type="text" name="ctl00$MainContent$TextBox16"><br /><br />
			<!-- TAGS -->
			<input style="width: 710px;" id="MainContent_TextBox17" class="textBoxMedium" value="Tags" type="text" name="ctl00$MainContent$TextBox17"> 
			<br /><br />
			<!-- ADD BUTTON -->
			<input class="buttonBlack" id="MainContent_Button1" value="Add" type="submit" name="ctl00$MainContent$Button1"> 
		</div>
		<!-- END MAIN CONTENT -->
		<div class="clearfloat"></div>
	</div> 
{% endblock %}
{% block content_right %}